/* Card Title inside Card Services */
.card-services .card-title {
    margin: 0;
}

/* Anchor links inside Card Services */
.card-services a {
    display: block;
    padding: 2rem; /* 2 times the root element */
    background-color: var(--color-light-grey);
}

/* Hover state for anchor links inside Card Services */
.card-services a:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
    text-decoration: none;
}
