/* Card Testimonial */
.card-testimonial {
    text-align: center;
}

/* Card Avatar inside Card Testimonial */
.card-testimonial .card-avatar {
    border-radius: 50%;
    width: 10rem; /* 10 times the root element */
    height: 10rem; /* 10 times the root element */
}

/* <cite> inside Card Quote inside Card Testimonial */
.card-testimonial .card-quote cite {
    display: block;
    padding-top: 1rem; /* 1 times the root element */
    color: var(--color-primary);
}
